VITE_AWS_REGION=us-east-1
VITE_USER_POOL_ID=
VITE_USER_POOL_CLIENT_ID=
VITE_IDENTITY_POOL_ID=
VITE_UPLOADS_BUCKET=
VITE_VECTORS_BUCKET=
VITE_UPLOAD_DATA_FN=ra-upload_data
VITE_PARSE_UPLOAD_FN=ra-parse_upload
VITE_GET_CONFIG_FN=ra-get_config
VITE_UPDATE_CONFIG_FN=ra-update_config
VITE_TRIGGER_INGESTION_FN=ra-trigger_ingestion
VITE_CREATE_TICKET_FN=ra-create_ticket
VITE_UPDATE_TICKET_FN=ra-update_ticket
VITE_LIST_TICKETS_FN=ra-list_tickets
VITE_GET_DASHBOARD_FN=ra-get_dashboard
VITE_QUEUE_FOR_REDTEAM_FN=ra-queue_for_redteam
